<!-- <header>
  
    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul id="menu" class="navbar-nav" >
          <li class="nav-item ">
            <a *ngIf="isLoggedIn" routerLink="view-person" class="nav-link" class="btn btn-primary active" role="button" >View Persons</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  *ngIf="isLoggedIn" routerLink="add-person" class="nav-link" class="btn btn-primary active" role="button" >Add Person</a>
          </li>&nbsp; 
          <li>
            <a *ngIf="isLoggedIn" class="nav-link" class="btn btn-primary active" role="button"  href="/logout" (click)=handleLogout()>Logout</a>
        </li>        
        </ul>
      </nav>    -->
        <router-outlet></router-outlet>
    <!-- </div>
    </header> -->